{% if package.dependencies is not none and package.dependencies|length > 0 %}
	<details
	{% if package.dependencies|length < 6 %}
		open
	{% endif %}>
		<summary>{{ package.dependencies|length }} dependenc{% if package.dependencies|length > 1 %}ies{% else %}y{% endif %}</summary>
		<ul>
			{% for dependency in package.dependencies %}
				<li>
					{% if dependency is mapping %}
						{{ packageLink.dependencyLink(dependency) }}
					{% else %}
						One of:
						<ul>
							{% for dep in dependency %}
								<li>
									{{ packageLink.dependencyLink(dep) }}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</details>
{% else %}
	<div class="italic">None</div>
{% endif %}
