{% if package.reverseDependencies is not none and package.reverseDependencies|length > 0 %}
	<details
	{% if package.reverseDependencies|length < 6 %}
		open
	{% endif %}>
		<summary>{{ package.reverseDependencies|length }} reverse dependenc{% if package.reverseDependencies|length > 1 %}ies{% else %}y{% endif %}</summary>
		<ul>
			{% for dependency in package.reverseDependencies %}
				<li>
					{% if dependency is mapping %}
						{{ packageLink.dependencyLink(dependency) }}
					{% else %}
						{{ packageLink.dependencyLink(dependency[0]) }}</a> depends on one of:
						<ul>
							{% for i in range(1, dependency|length) %}
								<li>
									{{ packageLink.dependencyLink(dependency[i]) }}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</details>
{% else %}
	<div class="italic">None</div>
{% endif %}
