h1 {
	font-size: 1.5em;
}

h2 {
	margin-top: 5px;
}

li {
	min-height: 1.2em;
	white-space: nowrap;
}

ul {
	padding-left: 20px;
}

a {
	display: inline-block;
}

a:link {
	color: #A01010;
}

a:visited {
	color: #703030;
}

a:hover, a:active {
	color: #1C458C;
	transition: 0.5s;
	transform: scale(1.1);
}

body {
	background-color: #E0E2DB;
	color: #4A314D;
	font-family: sans-serif;
	margin: auto;
	max-width: 768px;
}

pre {
	font-family: sans-serif;
	white-space: pre-wrap;
}

table {
	border-collapse: collapse;
}

th, td {
	vertical-align: top;
	border-bottom: 1px solid black;
	padding: 5px;
}

th {
	text-align: right;
	word-wrap: normal;
	width: 1px;
	border-right: 1px solid black;
}

tr:last-child > th, tr:last-child > td {
	border-bottom: none;
}

ul {
	margin-top: 0px;
	margin-bottom: 2px;
}

input {
	display: block;
	margin-top: 0.5em;
}

input[type=text] {
	background-color: #eeeeff;
	border-radius: 0.5em;
	padding: 0.5em;
	border: 1px solid black;
}

input[type=submit] {
	display: block;
	font-weight: bold;
	background-color: #ccffcc;
	border-radius: 0.5em;
	border: 1px solid black;
	padding: 0.3em;
}

header {
	margin-top: 0.5em;
}

header a {
	text-decoration: none;
	font-weight: 600;
	font-size: 1.1em;
}

header > *:not(:first-child) {
	margin-left: 1em;
}

.not_found, .italic {
	font-style: italic;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.noWrap {
	flex-wrap: nowrap;
}

.spaceBetween {
	justify-content: space-between;
}

.bold {
	font-weight: bold;
}

.displayNone {
	display: none;
}

#filterList {
	list-style-type: none;
	padding-left: 0;
}

.container {
	margin-left: 1em;
	margin-right: 1em;
}

.endpointContainer {
	border-radius: 1em;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: lightgray;
}

.endpointContainer:nth-child(even) {
	background-color: rgb(255, 230, 230);
}

.endpointContainer pre {
	border-radius: 0.5em;
	background-color: rgb(40, 40, 40);
	color: rgb(210,210,210);
}

.monospace {
	font-family: monospace;
}

#tagForm {
	margin-top: 2em;
}

@media only screen and (max-width: 600px) {
	#indexContainer {
		flex-direction: column-reverse;
	}
}
