{% if package.dependencies|length > 0 %}
	<details
	{% if package.dependencies|length < 6 %}
		open
	{% endif %}>
		<summary>{{ package.dependencies|length }} dependenc{% if package.dependencies|length > 1 %}ies{% else %}y{% endif %}</summary>
		<ul>
			{% for dependency in package.dependencies %}
				<li>
					{% if dependency is mapping %}
						{% if dependency.id %}
							<a href="/packages/{{ dependency.id }}">{{ dependency.name }}</a>
						{% else %}
							{{ dependency.name }} <span class="not_found">package not found</span>
						{% endif %}
					{% else %}
						One of:
						<ul>
							{% for dep in dependency %}
								<li>
									{% if dep.id %}
										<a href="/packages/{{ dep.name }}">{{ dep.name }}</a>
									{% else %}
										{{ dep.name }} <span class="not_found">package not found</span>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</details>
{% else %}
	<div class="italic">None</div>
{% endif %}
