{% extends "base.html" %}

{% block title %}Packages{% endblock title %}

{% block body %}
<div class='flexRow noWrap spaceBetween' id='indexContainer'>
	<div class='container'>
		<h1>List of packages{% if currentFilter %} tagged with <span class='italic'>{{currentFilter}}</span>{% endif %}</h1>

		<ol>
			{% for package in packages %}
				<li>
					<a href="/packages/{{ package.id }}">{{ package.name }}</a>
				</li>
			{% endfor %}
		</ol>
	</div>

	<div class='container'>
		{% include 'tagsFilter.html' %}
	</div>

</div>
{% endblock body %}
