{% macro dependencyLink(dependency) %}

	{% if dependency.name %}
		{% set name, id = dependency.name, dependency.id %}
	{% else %}
		{% set name, id = dependency.dependentName, dependency.dependentId %}
	{% endif %}

	{% if id %}
		<a href="/packages/{{ id }}">{{ name }}</a>
	{% else %}
		{{ name }} <span class="not_found">- package not found</span>
	{% endif %}

{% endmacro %}
