{% if package.reverseDependencies is not none and package.reverseDependencies|length > 0 %}
	<details
	{% if package.reverseDependencies|length < 6 %}
		open
	{% endif %}>
		<summary>{{ package.reverseDependencies|length }} reverse dependenc{% if package.reverseDependencies|length > 1 %}ies{% else %}y{% endif %}</summary>
		<ul>
			{% for dependency in package.reverseDependencies %}
				<li>
					{% if dependency.id %}
						<a href="/packages/{{ dependency.name }}">{{ dependency.name }}</a>
					{% else %}
						{{ dep.name }} <span class="not_found">- package not found</span>
					{% endif %}
				</li>
			{% endfor %}
			{#
			{% for key, value in package.sub_reverse_deps.items() %}
				<li>
					<a href="/packages/{{ key }}">{{ key }}</a> depends on one of:
					<ul>
						{% for dep in value %}
							<li>
								{% if dep.link %}
									<a href="/packages/{{ dep.name }}">{{ dep.name }}</a>
								{% else %}
									{{ dep.name }} <span class="not_found">package not found</span>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
			#}
		</ul>
	</details>
{% else %}
	<div class="italic">None</div>
{% endif %}
